.git
.github
.editorconfig
.gitattributes
.gitignore
.styleci.yml
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.md
tests
phpunit.xml
CHANGELOG.md
README.md
TESTING_REPORT.md
